<?php
/**
 * Application path
 */
define('APPLICATION_PATH', realpath(dirname(__DIR__)));

/**
 * Application environment
 */
define('APPLICATION_ENV', (getenv('APPLICATION_ENV') ?: 'production'));

require APPLICATION_PATH . '/vendor/autoload.php';

try {
    // Reads app.ini file
    $config = new \Core\Config\Config();
    $config->readIni(realpath('../config/' . APPLICATION_ENV . '.ini'));

    // Bootstrapping application
    $app = new \Core\Application($config);
    $app->getRouter()->load(realpath('../config/routes.php'));
    $app->run();
} catch (Exception $e) {
    if (APPLICATION_ENV == 'development') {
        var_dump($e);
    } else {
        die('Erro.');
    }
}
