<?php
/**
 * Application environment
 */
define('APPLICATION_ENV', (getenv('APPLICATION_ENV') ?: 'production'));

require APPLICATION_PATH . '/vendor/autoload.php';

try {
    // Reads ini file
    $config = new Vcampitelli\Framework\Config\Config();
    $config->readIni(realpath('../config/' . APPLICATION_ENV . '.ini'));

    // Bootstrapping application
    $app = new Vcampitelli\Framework\Application($config, realpath(dirname(__DIR__)) /* $basePath */);
    $app->getRouter()->load(realpath('../config/routes.php'));
    $app->run(Vcampitelli\Framework\Http\Request::fromGlobals());
} catch (Exception $e) {
    if (APPLICATION_ENV == 'development') {
        var_dump($e);
    } else {
        die('Erro.');
    }
}
